/*Variables*/

:root {
	--main-bg-color: #2ba05a;
	/* background-color: #36c970; */
	/* background-color: #f7543e; */
	/* background-color: #d90a18; */
	--primary-font-family: "Roboto", sans-serif;
	--secondary-font-family: "Sriracha", cursive;
}

* {
	box-sizing: border-box;
}
.wrap{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}
/*estilos generales*/
.container {
	width: 80%;
	max-width: 1200px;
	min-width: 400px;
	margin: 0px auto;
	display: flex;
	justify-content: center;
}

body {
	font-family: var(--primary-font-family);
	background: url('https://i.imgur.com/Ufw33Fj.gif') rgb(252, 252, 252);
}

/*estilos del header*/

.header {
	width: 100%;
	min-width: 400px;
	background-color: var(--main-bg-color);
}
.header .container {
	display: flex;
	width: 95%;
	justify-content: space-between;
	align-items: center;
}
.header .links {
	display: flex;
	align-items: center;
}
.header .imgContainer {
	width: 30px;
	height: 30px;
	overflow: hidden;
	border-radius: 50%;
}
.imgContainer img {
	width: auto;
	height: 100%;
}
.header p,
.header a {
	margin: 5px 8px;
}
.header .links a {
	text-decoration: none;
	color: white;
	padding: 10px;
	transition: ease 0.5s;
	border-radius: 5px;
}

.header .links a:hover{
	background-color: #37bf6e;
}

.header .links form{
	width: 200px;
	margin: 0px 10px;
}
.header form input{
	width: 100%;
	outline: none;
	background-color: var(--main-bg-color);
	border: 1px solid white;
	border-radius: 5px;
	padding: 4.5px;
	caret-color: white;
	color: white;
}

.header form input::placeholder{
	color: white;
	font-size: 14px;
}

.header .logo a {
	text-decoration: none;
	font-family: var(--secondary-font-family);
	color: white;
	font-size: 23px;
}

/*estilos del main*/
.main {
	width: 100%;
}

.main.login .container {
	width: 70%;
	align-items: center;
	max-width: 715px;
}

.main.login .container .texto {
	border-radius: 5px;
	width: 320px;
	height: 320px;
	display: flex;
	flex-wrap: wrap;
	padding: 40px 40px;
	background-color: white;
}

.main.login .container .texto h1,
.main.login .container .texto p {
	width: 100%;
}

.main.login .container .texto h1 {
	font-size: 39px;
}

.main.login .container .texto p {
	font-size: 16px;
	color: #b8b7b7;
}

.main.login .container .formLogin {
	border-radius: 5px;
	width: 360px;
	height: 360px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 40px 20px;
	box-shadow: 0px 0px 36px -8px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 36px -8px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 36px -8px rgba(0, 0, 0, 0.75);
	background-color: var(--main-bg-color);
}

.form-control{
	border-radius: 0px;
}
.form-control:focus{
	box-shadow: 0 0 0 0;
}
.formLogin .form-group {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.formLogin .form-group label,
.formLogin .form-group input[type="text"],
.formLogin .form-group [type="password"] {
	width: 100%;
	margin: 5px 0px;
	padding: 8px 5px;
	outline: none;
	background-color: var(--main-bg-color);
	color: white;
}
.formLogin .form-group input[type="text"],
.formLogin .form-group [type="password"] {
	margin: 3px 0px;
	border: none;
	border-bottom: 1px solid var(--main-bg-color);
	color: rgba(255, 255, 255, 0.5);
}

.formLogin .form-group input[type="text"]::placeholder,
.formLogin .form-group [type="password"]::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.formLogin .form-group input[type="text"]:focus,
.formLogin .form-group [type="password"]:focus {
	border-bottom: 1px solid white;
}

.formLogin .form-group input[type="submit"] {
	width: 100%;
	text-align: center;
	background-color: var(--main-bg-color);
	border: none;
	padding: 6px;
	border-radius: 5px;
	color: white;
	transition: ease 0.5s;
}

.formLogin .form-group input[type="submit"]:hover {
	background-color: #37bf6e;
}

.formLogin p,
.formLogin a {
	color: white;
	width: 100%;
	text-align: center;
	margin: 3px 0px;
	font-size: 12px;
}
.formLogin p {
	margin-top: 10px;
}

.formLogin a {
	text-decoration: none;
}
.formLogin a:hover {
	text-decoration: underline;
}
/*estilos del index*/
.main.index .container{
	flex-wrap: wrap;
}
.main.index .post{
	width: 100%;
	margin: 30px 0px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: white;
	padding: 20px 50px;
	border-radius: 5px;
}

.main.index h2 a{
	text-decoration: none;
	color: black;
}

.main.index p a{
	text-decoration: none;
	color: rgb(107, 107, 107);
}

.post .imgContainer{
	width: 70%;
}

.post .imgContainer img{
	width: 100%;
}

/*Paginacion*/

.paginacion{
	width: 100%;
	margin-bottom: 10px;
	padding: 15px;
}
.paginacion ul{
	height: auto;
	display: flex;
	justify-content: center;
	
}
.paginacion ul li{
	margin: 0px 5px;
	list-style: none;
}
.paginacion a{
	background-color: gray;
	text-decoration: none;
	color: white;
	padding: 10px 20px;
}
.paginacion a:hover{
	background-color: rgb(161, 161, 161);
}

/*estilos del footer*/
.footer {
	/* position: fixed;
	bottom: 0px; */
	width: 100%;
	min-width: 500px;
	padding: 10px;
	display: inline-block;
	background-color: var(--main-bg-color);
	font-size: 13px;
}

.footer .container {
	width: 80%;
	margin: 0px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.footer .texto {
	width: 100%;
	text-align: center;
	color: white;
}

.footer p {
	margin: 10px;
}
.footer p span {
	font-weight: 700;
}
.footer .redes {
	width: 100%;
}

.footer .redes ul {
	display: flex;
	justify-content: center;
	padding: 0px;
	margin: 0;
}

.footer .redes ul li {
	list-style: none;
	margin: 0px 20px;
}

.footer .redes ul li a {
	color: white;
}
